* {
    box-sizing: border-box;
}
header {
    background: linear-gradient(120deg, pink, white,gray);
    text-align: center;
    padding: 1em 2em;
}
nav {
    display: flex;
    background: burlywood;
}
.menu {
    width: 70%;
    padding: 1em;
}
.search-zone {
    width: 30%;
    padding: 1em;
}
.menu a {
    text-decoration: none;
    font-size: 18px;
    color: brown;
    font-weight: bold;
    margin: 1em;
}
nav a:hover:not(.active){
    font-weight:bold;
    color: red;
}
.active{
    color:blue;
    font-weight:bold;
}
.search-zone input[type="text"] {
    width: 100%;
    padding: 0.3em;
    border-radius: 1em;
    border: 1px solid gray;
    outline: none;
    background-color: blueviolet;
    transition: 0.5s;
}
.search-zone input[type="text"]:focus {
    background: blue;
}
section {
    display: flex;
    flex-wrap: wrap;
}
aside {
    width: 30%;
    padding: 1em;
    background: coral;
}
article {
    width: 70%;
    padding: 1em;
    background: blueviolet;
}
.fakeimg1 {
    height: 12em;
    background: darkgray;
    background: url(images/img10.jpg);
    border-radius: 2px;
    width: 100%;
}
.contact-box .box{
    width:100%;
    height:2em;
    margin-top:0.5em;
    border-radius:4px;
    background-color:darkgray;
}
footer{
    background-color:#333;
    text-align:center;
    color:white;
    padding:0.6em;
}




